@use "../../../../../Styles/mixins" as *;
@use "../../../../../Styles/variables" as *;

.navbar {
  @include widthAndHeight(100%, 20vh);
  @include flexContainer(40%);
  align-items: flex-start;
  background: url("../Images/navbar-img.png");
  z-index: 1000;

  div {
    @include widthAndHeight(auto, auto);
    @include flexContainer(2%);
  }

  .logo {
    margin-top: auto;
    margin-bottom: auto;
  }
}

.link {
  @include widthAndHeight(150px, auto);
  cursor: pointer;
  padding: 12px 32px;
  border: none;
  outline: none;
  position: relative;
  color: $textButtonColor;
  background: $textButtonColor;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 24px;
  z-index: 1;
  overflow: hidden;
  transition: color 500ms ease-in-out;

  &::before {
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    background-color: $mainBlueColor;
    border-radius: 50%;
    transform: scale(1.5);
    z-index: -1;

    transition: transform 500ms ease-in-out;
  }

  &:hover::before,
  &:focus::before {
    transform: scale(0);
  }

  &:hover,
  &:focus {
    color: $mainBlueColor;
  }
}
