@use "../../../../../Styles/mixins" as *;
@use "../../../../../Styles/variables" as *;

.container-logo {
  @include widthAndHeight(20%, 12%);
  @include flexContainer(20px);

  p {
    font-size: 4vw;
  }

  span {
    font-size: 4vw;
    color: $mainOrangeColor;
    margin-left: unset;
    margin-left: -5px;
  }

  div {
    @include widthAndHeight(15%, 40%);
    @include flexContainer(0);
  }
}

//correct all
