$mainBgColor: #0e0d2a;

$mainBlueColor: rgba(0, 119, 215, 0.8);

$mainOrangeColor: #d8715e;

$mainGrayColor: darkgray;
$secondGrayColor: rgba(211, 211, 211, 0.959);

$mainWhiteColor: white;
$secondWhiteColor: #dadada;

$mainTitleColor: whitesmoke;

$textButtonColor: whitesmoke;
