@use "../../../../Styles/variables" as *;
@use "../../../../Styles/mixins" as *;

.footer {
  @include widthAndHeight(100%, 20vh);
  @include flexContainer(0);
  justify-content: flex-end;
  background: url("../Images/footer-dev-img.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-container {
  @include widthAndHeight(70%, 100%);
  @include flexContainer(0);

  .footer-container__title {
    @include widthAndHeight(25%, 100%);
    @include flexContainer(10px);
    flex-direction: column;

    div {
      border-bottom: 1px solid $mainGrayColor;

      p {
        font-size: 2.5vw;
        color: $mainBgColor;
      }

      span {
        font-size: 2.5vw;
        color: $mainOrangeColor;
      }
    }

    p {
      font-size: 24px;
      color: $secondGrayColor;
    }
  }

  .footer-container__front-end,
  .footer-container__back-end {
    @include widthAndHeight(25%, 100%);
    @include flexContainer(5px);
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 10px;

    h3 {
      color: $mainGrayColor;
      border-bottom: 1px solid $secondGrayColor;
    }

    p {
      font-size: 18px;
      color: $secondGrayColor;
    }
  }

  .footer-container__links {
    @include widthAndHeight(25%, 100%);
    @include flexContainer(10px);

    .icon {
      @include widthAndHeight(80px, auto);
      @include flexContainer(10px);
      flex-direction: column;
      position: relative;
      z-index: 2;
      cursor: pointer;

      &:hover .icon__href {
        top: -70px;
        opacity: 1;
        pointer-events: auto;
      }

      div {
        @include widthAndHeight(60px, 60px);
        background: white;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        text-align: center;
        font-size: 35px;
        line-height: 60px;
        cursor: pointer;
      }

      .gitHub {
        background-color: white;
        color: $mainBgColor;
      }

      .edge {
        background-color: rgb(71, 214, 49);
        color: #0078d7;
      }

      .mail {
        background-color: $mainOrangeColor;
        color: white;
      }

      .icon__href {
        font-size: 20px;
        position: absolute;
        top: 0px;
        background-color: $secondGrayColor;
        padding: 10px 18px;
        border-radius: 25px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
        text-decoration: none;
        color: $mainBgColor;
        opacity: 0;
        pointer-events: none;
        transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        &::before {
          position: absolute;
          content: "";
          @include widthAndHeight(15px, 15px);
          background: $secondGrayColor;
          bottom: -8px;
          left: 50%;
          transform: translateX(-50%) rotate(45deg);
        }
      }
    }
  }
}
