@use "../../../../Styles/variables" as *;
@use "../../../../Styles/mixins" as *;
@use "../../../../Styles/extends/" as *;

.login-container {
  @extend .form-section-container;
}

.login-wrapper {
  @include widthAndHeight(30%, 70vh);
  @include flexContainer(10px);
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 20px;
  border: 1px solid $mainWhiteColor;
  z-index: 10;
  overflow: hidden;
  position: relative;

  form {
    @include widthAndHeight(100%, 80%);
    @include flexContainer(30px);
    flex-direction: column;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
      color: $mainRedColor;
    }

    :last-child {
      color: $mainWhiteColor;
    }

    .link {
      color: $mainBlueColor;
      text-decoration: none;
    }
  }
}

//input

.input-group {
  @extend .input-group;
}
