@use "../../../../Styles/variables" as *;
@use "../../../../Styles/mixins" as *;

.svg-left {
  @include widthAndHeight(45%, 40vh);
  position: absolute;
  left: -15%;
  top: -30%;
  opacity: 0.8;
  z-index: -1;
}
